{% comment %}
'item' will be an object when the shelf only contains one
book and array if there is more than one book.
{% endcomment %}
{% if rss.channel.item.book %}
  {% comment %}
  item was an object (single book)
  {% endcomment %}
  {% assign book = rss.channel.item %}
  {% assign has_single_book = true %}
{% else %}
  {% comment %}
  item was an array (multiple books)
  {% endcomment %}
  {% assign book = rss.channel.item[0] %}
  {% assign has_single_book = false %}
  {% assign books = rss.channel.item %}
{% endif %}

{% comment %}
Extract the user and the shelf name from the title
which has a value like "Michael's bookshelf: currently-reading".
{% endcomment %}
{% assign user = rss.channel.title | split: "'" | first %}
{% assign shelf = rss.channel.title | split: ': ' | last %}

<style>
    .img-border {
        border: 1px solid black;
        box-shadow: 0 0 0 1px white;
        margin: 1px;
    }
</style>


{% template title_bar %}
<div class="title_bar">
  <svg class="image image-stroke" viewBox="0 0 340 512" xmlns="http://www.w3.org/2000/svg">
    <path
        d="m266.37 62.907c-1.5925-0.06523-3.2198 0.06523-4.8161 0.38227-6.7921 1.3377-12.6 5.7094-15.748 11.875-3.2995 6.3457-7.4679 14.363-11.084 21.303v0.02609c-4.4385 8.5173-8.0381 15.4-8.1033 15.544-0.37444 0.66147-0.70582 1.2812-1.0189 1.8856-1.3921 2.6855-2.4349 4.728-5.4787 5.2238-3.2747 0.60799-6.074-0.30267-9.9124-2.4717-44.908-25.392-102.72-6.4984-126.57 39.038-16.09 30.771-11.614 68.444 6.7527 92.448 1.9733 2.5794 7.8738 9.6577 7.8738 9.6577 8.0016 9.9965 4.6528 16.155-0.78934 23.571l-11.339 15.187c-13.315 18.28-13.008 28.851-12.206 35.14 3.5345 22.964 31.373 23.01 40.567 22.577 10.024-0.46446 18.156-0.99677 25.227-1.4525 21.013-1.3503 32.609-2.0904 56.264 1.1207 16.849 2.2767 25.66 9.2145 25.66 21.379 0 11.58-8.8077 19.128-27.673 20.819-5.1294 0.47099-8.8478 0.40836-19.366 0.22962-4.0202-0.0652-9.0546-0.15132-15.518-0.22962-12.467-0.11742-21.097-0.74497-29.126-1.325-2.8078-0.20223-5.5348-0.39271-8.3326-0.56101-4.4925-0.27529-8.5147-0.80891-12.333-1.325-6.4097-0.87153-12.26-1.6614-18.755-0.96807-7.351 0.78018-16.897 6.6945-16.767 17.71 0.17353 13.336 14.319 16.156 25.074 16.156 1.6738 0 4.4341-0.0913 7.874-0.17875 3.6009-0.10437 7.9709-0.22699 12.639-0.30529 32.678-0.52056 51.834-0.32094 83.428 0.45925 41.937 0 57.589-26.596 57.589-51.142 0-20.752-17.595-46.805-57.538-49.537-24.525-1.6491-36.48-1.6473-82.256 0.15264-18.887 0.75933-6.9056-14.142-6.9056-14.142l14.219-18.959 0.22963-0.3053c2.2597-3.0764 3.4476-4.7388 6.8292-5.81 2.466-0.76457 5.1096-0.70977 7.5427 0.15264 45.342 16.068 92.368-2.0395 113.45-44.236 16.674-32.6 11.672-72.107-12.588-99.532-1.4769-1.7874-2.0751-4.114-1.6563-6.3959 0.28051-2.6263 1.6768-5.0191 3.8477-6.5234l32.999-26.425c5.5214-4.1688 8.9271-10.572 9.2754-17.481-0.11743-6.7688-3.1976-13.141-8.4346-17.43-3.6273-3.2642-8.2436-5.1121-13.021-5.3002zm-84.855 66.686c6.5569 0.13177 13.408 1.7077 20.462 5.1473 28.255 13.792 36.196 50.262 15.748 91.072-20.297 40.506-51.415 51.018-79.452 37.356l-0.43316-0.22963c-28.19-14.094-37.845-47.204-17.353-88.015 9.7432-19.381 32.616-45.902 61.029-45.332z"/>
  </svg>
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">{{ user }}: {{ shelf }}</span>
</div>
{% endtemplate %}


{% template content %}
{% if book %}
  {% if trmnl.plugin_settings.custom_fields_values.layout == "large" %}
    {% render "layout_large", trmnl: trmnl, has_single_book: has_single_book, books: books, book: book, size: size %}
  {% else %}
    {% render "layout_cover_only", trmnl: trmnl, has_single_book: has_single_book, books: books, book: book, size: size %}
  {% endif %}
{% else %}
  <span class="label flex flex--center-x flex--center-y">There are no books in the shelf “{{ shelf }}”.</span>
{% endif %}
{% endtemplate %}


{% template layout_cover_only %}
{% if has_single_book %}
  <div class="flex flex--center-x flex--center-y">
    <img alt="{{ book.title }}" class="image image-dither rounded--xsmall image--contain img-border" style="width: auto; height: auto; max-width: 100%; max-height: 100%; border: 1px solid black;" src="{{ book.book_large_image_url }}">
  </div>
{% else %}
  {% case size %}
    {% when "full" %}
      {% assign max_books_per_size = 3 %}
    {% when "half_horizontal" %}
      {% assign max_books_per_size = 6 %}
    {% when "quadrant" %}
      {% assign max_books_per_size = 3 %}
    {% else %}
      {% assign max_books_per_size = 2 %}
  {% endcase %}
  {% assign max_books = trmnl.plugin_settings.custom_fields_values.layout_number_of_books | at_most: max_books_per_size %}
  {% for book in books limit: max_books %}
    <div class="flex flex--center-x flex--center-y">
      <img alt="{{ book.title }}" class="image image-dither rounded--xsmall image--contain img-border" style="width: auto; height: auto; max-width: 100%; max-height: 100%; border: 1px solid black;" src="{{ book.book_large_image_url }}">
    </div>
  {% endfor %}
{% endif %}
{% endtemplate %}


{% template layout_large %}
<div class="flex flex--center-x flex--center-y">
  <img alt="{{ title }}" class="image image-dither rounded--xsmall image--contain img-border" style="width: auto; height: auto; max-width: 100%; max-height: 100%; border: 1px solid black;" src="{{ book.book_large_image_url }}">
</div>

<div class="flex flex--col flex--left mt--10 mb--10 pr--8">

  {% comment %}
  Extract the title (without series) and the series from
  a string like "The Secret Commonwealth (The Book of Dust, #2)".
  {% endcomment %}
  {% if book.title contains ' (' %}
    {% assign title = book.title | split: ' (' | first %}
    {% assign series = book.title | split: ' (' | last | remove_last: ')' | replace: ", #", " #" %}
  {% else %}
    {% assign title = book.title %}
  {% endif %}

  {% if series %}
    <span class="description">{{ series }}</span>
  {% endif %}

  {% if book.title %}
    {% if size == "full" %}
      <h1 class="value">{{ title }}</h1>
    {% else %}
      <h1 class="value value--small">{{ title }}</h1>
    {% endif %}
  {% endif %}

  {% if book.author_name %}
    {% if size == "full" %}
      <h2 class="value value--small mb--2">{{ book.author_name }}</h2>
    {% else %}
      <h2 class="label mb--1">{{ book.author_name }}</h2>
    {% endif %}
  {% endif %}

  {% if size == "full" or size == "half_vertical" and book.book_description %}
    <span class="label" data-clamp="6">{% render "book_description", book: book %}</span>
  {% endif %}

  <span class="description">{% render "metadata", book: book %}</span>
</div>
{% endtemplate %}


{% template book_description %}
{{ book.book_description | replace: '<br />', ' ' | replace: '<br /><br />', ' – ' | replace: '<i>', '“' | replace: '</i>', '”' | strip_html }}
{% endtemplate %}


{% template metadata %}
{% if book.book_published %}Published {{ book.book_published }} · {% endif %}
{% if book.book.num_pages %}Pages {{ book.book.num_pages }} · {% endif %}
{% if book.isbn %}ISBN {{ book.isbn }}{% endif %}
{% endtemplate %}
